# OS
.DS_Store
Thumbs.db

# Environment files
.env
.env.*

# Python
__pycache__/
*.py[cod]
*.sqlite3
*.egg-info/
.venv/
venv/

# Django / testing
.coverage
htmlcov/
.pytest_cache/
.mypy_cache/

# Node
node_modules/
dist/
build/

# IDE
.vscode/
.idea/

# Docker / local volumes
postgres_data/