# =========================
# ENV
# =========================
.env
.env.*
frontend/.env

# =========================
# PYTHON / DJANGO
# =========================
__pycache__/
*.py[cod]
*.sqlite3
*.egg-info/

.venv/
venv/

.coverage
htmlcov/
.pytest_cache/
.mypy_cache/

# =========================
# NODE / FRONTEND
# =========================
node_modules/
dist/
dist-ssr/
build/
*.local

# =========================
# LOGS
# =========================
*.log
logs/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# =========================
# IDE
# =========================
.vscode/
!.vscode/extensions.json
.idea/

# =========================
# DOCKER
# =========================
postgres_data/

# =========================
# OS
# =========================
.DS_Store
Thumbs.db